*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 /* overflow-x: hidden;
 overflow-y: visible; */
}
nav{
 border-bottom: 2px solid lightgrey;
 box-shadow: 0px 2px #ececec;
 background-color: white;
 z-index: 3;
}
.nav-link{
 color: black;
}
.hero-btn1{
 background-color:#f9623e;
 color: white;
 box-shadow:5px 5px #040237 ;
 }
 .hero-btn1:hover{
 background-color: #040237;
 color: white;
 }

.form-container{
 background-color: white;
}

h2{
 font-size: 40px;
 font-weight:600;
 line-height: 50px;
 }
 p, li{
  font-size: 18px;
  font-weight:400;
  line-height: 24px;
  }

.colored{
 background-color: #ebf1f7;
 padding: 70px 0 30px;
}







.footer-sec{
 background-color:#040237; 
 color: white;
}
.footer-sec a{
 color: white;
}